*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    flex-direction: column;
}
.main1{
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    margin-bottom: 30px;
}
.main2{
    background-color: #fff;
    height: 400px;
    width: 500px;
    border-radius: 8px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}
.container{
    margin: 30px;
    width: 440px;
    
}
.h2{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 900;
}
.question{
    display: flex;
    justify-content: space-between;
}
i{
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.question-text{
    padding: 5px;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
    display: none;

    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.question-text.transition{
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

